/* Navigation bar */
.top-navigation-bar {
  border: 1px solid rgba(1, 0, 0, 0.2);
  background-color: aliceblue;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Left side bar to store the icon */
.left-side-bar {
  margin-top: 0.5%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.left-side-bar a img {
  height: 40px;
  width: auto;
  max-width: 500px;
}

/* A seperator */
.navigation-seperator {
  width: 50%;
}

/* Right side bar to store navigation buttons */
/* Add a black background color to the top navigation bar */
.right-side-bar {
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.right-side-bar a {
  color: black;
  text-align: mid;
  text-decoration: underline 0.13em rgba(255, 255, 255, 0);
  padding: 14px 12px;
  font-size: 17px;
  transition: all 0.2s ease 0s;
}

/* Change the color of links on hover */
.right-side-bar a:hover {
  background-color: rgba(33, 127, 177, 0.4);
  color: white;
  text-decoration-color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease 0s;
}

/* Add a color to the active/current link */
.right-side-bar a.active {
  background-color: rgba(33, 127, 177, 0.95);
  color: white;

  transition: all 0.2s ease 0s;
}

.right-side-bar a.active:hover {
  background-color: rgba(33, 127, 177, 1);
  color: white;

  transition: all 0.2s ease 0s;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
}